.form-control {
  margin-bottom: 20px;
}

.card-custom {
  background-color: #f39200 !important;
  justify-self: center !important;
}

.card-custom {
  width: 50% !important;
}

.btn {
  margin-bottom: 20px;
  background-color: #242424 !important;
  border: white !important;
}

.btn-secondary {
  background-color: #6c757d !important;
  margin-left: 30px;
}

.container {
  text-align: center;
  height: 100vh;
}

.card {
  margin-top: 5% !important;
  padding: 5%;
}

.select-container {
  width: 120px;
}

.drop-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#select {
  max-width: 40%;
}

.form-btn-container {
  margin-top: 20px;
}

#dateInput {
  max-width: 70%;
}

.date-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}