.navbar {
    position: relative;
    background-color: #f39200 !important;
    height: 85px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    box-shadow: 1px 2px 5px lightgray;
    list-style-type: none;
    position: fixed;
    width: 100%;
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    /* set a fixed height for the parent element */
    position: relative;
    /* set the position property to relative */
}

.dropdown {
    position: absolute;
    /* set the position property to absolute */
    top: 100%;
    /* position the dropdown below the buttons */
    left: 0;
    max-height: 200px;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown li {
    padding: 10px;
}

.dropdown li:hover {
    background-color: #f5f5f5;
}

.navbutton {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
    position: relative;
    /* set the position property to relative */
}

.navbutton:hover {
    background-color: #f5f5f5;
}

.show-menu .dropdown {
    display: block;
}

.nav-link {
    text-decoration: none;
    /* remove underline */
    color: black;
    /* change color */
}

.nav-link:hover {
    text-decoration: none;
    /* remove underline */
    color: rgba(52, 40, 12, 0.162);
    /* change color on hover */
}

.nav-link.active {
    text-decoration: none;
    /* remove underline */
    color: rgb(73, 41, 13);
    /* change color when active */
}